/* ------------------------------ */
/* サイトごとの個別CSSを記述する場所 */
/* __utility フォルダでは使わない   */
/* ------------------------------ */

:root {
  --cool-gray: #e7ecef;
  --basic-font : 'Quicksand','Zen Kaku Gothic New';
}

.material-symbols-outlined {
  font-variation-settings: 'wght' 400;
  color: currentColor;
}

tr .material-symbols-outlined {
  opacity: 0.4;
  position: absolute;
  right: 100%;
  tr:not(:hover) & {display: none;}
}

.material-symbols-outlined.edit-button {
  font-variation-settings: 'wght' 300;

  color: var(--sky-blue);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 26px;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: var(--sky-blue);
  }
  &:active {
    color: white;
    background-color: var(--sky-blue);
  }
}



/* ---------------------- */
/*        || event        */
/* ---------------------- */
@layer state {
  .is-minus {
    color: #ed1212;
    font-weight: 600;
  }

  .is-dragging {
    background-color: var(--cool-gray);
  }

  .is-disabled {
    pointer-events: none;
    opacity: 0.33;
  }
}



/* ---------------------- */
/*     || base, reset     */
/* ---------------------- */
@layer base {
  h1 {
    text-align: center;
    user-select: none;
    font-weight: 100;
  }

  input[type=text],input[type=number],textarea{
    field-sizing: content;
    font-family: unset;
  }
  input[type=text],input[type=number],select,textarea {
    border: 1px solid hsl(from currentColor h s l / 0.33);
    border-radius: 2px;
  }
  select {
    font-family: unset;
  }
  input::placeholder, textarea::placeholder {
    color: currentColor;
    opacity: 0.4;
  }
}



/* ---------------------- */
/*   imported component   */
/* ---------------------- */
/* layout */
@layer layout {
  .l-side-bar__content {
    padding: 1rem 1rem;
    gap: 1rem;
    width: 16rem;

    .round-button {
      width: 75%;
      white-space: nowrap;
    }
  }
  
  .l-basic-footer__content {
    border-block-end: 1px solid #aaa;
    @media(max-width: 600px) {border-block-end-style: none;}
  }
}


/* component */
@layer component {
  .mini-card {
    --main-color: var(--blue);
    height: stretch;
  }

  .mini-card__content:has(input) {
    padding: 0;
  }

  .toggle-button {
    --radius: 0.5rem;
    --padding: 1px;
    --color: var(--sky-blue);
  }

  .invert-el {
    --line-color: var(--light-blue);
    --active-back-color: var(--blue-gradient);
  }

  .icon {
    --size: 1.25rem;
    --line-radius: 2px;
  }
  
  .button-tag {
    --text-color: darkslategray;
    --active-back-color: hsl(from var(--text-color) h s 35 / 0.8);
    --active-line-color: hsl(from var(--text-color) h s 35);
    font-size: calc(1em - 2px);
    font-weight: 400;
    padding: 1px 4px;
  }
  
  .link {
    font-weight: 500;
  }
  
  .basic-dialog {
    --radius: 7px;
    color: darkslategray;
    border-color: darkgray;
    box-shadow: 0px 2px 17px 1px rgb(0 0 0 / 0.2);
  }
}

/* from __utility */
@layer component {
  .icon-frame.shadow {
    color: #9bd4de;
    background-color: transparent;
    border: 1px solid #7ec7d4;
    border-radius: 4px;
    padding: 6px;
    &:active {
      color: var(--off-white);
      background-color: #9bd4de;
      border-color: #9bd4de;
    }
  }

  .icon.icon.icon-close.float {
    position: absolute;
    display: none;

    .sanc-table & {
      --size: calc(1rem - 2px);
      opacity: 0.33;
      right: calc(100% + 1.5rem);
      td:hover &, &:hover, &:has(+ :hover) {display: block;}
    }
    #edit-unit-dialog & {
      --size: 0.8rem;
      --line-radius: 1.5px;
      top: 8px;
      right: 10px;
      label:hover & {display: block;}
      label:not(:has(:checked)) & {opacity: 0.33;}
    }
  }
}

/* table */
@layer component {
  td.center {text-align: center;}
  td.pad-inline {padding-inline: 0.5em;}

  .sanc-table {
    color: darkslategray;
    border-spacing: 2px;

    thead {
      background: linear-gradient(150deg,#e7ecef 20%, #cee8ed 100%);
      white-space: nowrap;
      user-select: none;
    }
    td {padding-block: 0.25rem;}
    th {
      font-weight: 500;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
    }
    th.thin {
      font-size: calc(1em - 2px);
      font-weight: 400;
      text-align: left;
    }

    select, input[type=text], input[type=number] {
      height: 1.5rem;
      box-sizing: border-box;
      td > & {width: stretch;}
    }
    .short-input {
      min-width: 5ch;
    }
    .long-input {
      min-width: 16ch;
    }
  }

  .skill-table {
    border-spacing: 2px 0.5rem;
    width: stretch;
    font-size: 0.9em;
    margin-block-start: -0.5rem;

    tbody {background: linear-gradient(150deg,#e7ecef 20%, #cee8ed 100%);}

    td:first-child {
      border-radius: 2em 0 0 2em;
    }
    td:last-child {
      border-radius: 0 2em 2em 0;
    }
    td {
      text-align: center;
      padding: 2px 1rem;
    }
  }

  .cell-wrap {
    display: flex;
    align-items: center;
    width: stretch;
    height: stretch;
    gap: 4px;
    position: relative;
    >input,
    >select
    {flex-grow: 1;}
  }

  #edit-sanc-reg-dialog table {
    tbody th {
      background: var(--pale-green-gradient);
    }
    .button-tag {
      display: block;
      height: stretch;
      width: max-content;
      text-align: center;
      justify-self: center;
    }
  }
}

/* layout */
@layer layout {
  .l-main-content {
    flex: 1;
  }

  .l-inpage-process-content {
    max-height: calc(100dvh - 3rem - 1px);
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .l-tab-bar {
    color: darkslategray;
    background: linear-gradient(150deg,#e7ecef 20%, #cee8ed 100%);
    height: 2.5rem;
    
    display: flex;
    padding-inline: 2.5rem 1rem;
    padding-block: 0.5rem 0;
    border-block-end: 1px solid gray;
  }
    
  .l-tab {
    border: 1px solid transparent;
    border-radius: 0.75rem 0.75rem 0 0;
    align-content: center;
    padding: 0.375rem 1rem;
    min-width: 3rem;
    text-align: center;
    margin-block-end: -1px;
    &:has(:checked) {
      background-color: var(--off-white);
      font-weight: 500;
      border-color: gray;
      border-block-end-color: transparent;
    }
    &:not(:has(:checked)):hover {
      background-color: rgb(0 0 0 / 0.2);
    }
    input[type=radio] {display: none;}
  }
}

@layer component {
  .new-mofism-card{
    border: 1px solid white;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    corner-shape: squircle;
    box-shadow: 
      0px 3px 5px 2px rgba(0 0 0 /0.2),
      inset 0px 0px 10px 2px white;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    white-space: nowrap;
    height: max-content;
  }

  .setting-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
  }

  .title {
    color: darkslategray;
    background: linear-gradient(150deg,#e7ecef 40%, #cee8ed 100%);
    border-radius: 5rem;
    margin-block: 0;
    margin-inline-start:-0.5rem;
    padding: 4px 0.75rem;
    width: max-content;
    font-weight: 500;
  }

  .shadow {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
  }

  .triangle {
    background-color: currentColor;
    align-self: center;
    height: 1rem;
    aspect-ratio: cos(30deg);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    opacity: 0.33;
  }

  .blue-square-button {
    color: white;
    background: var(--blue-gradient);
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: unset;
    user-select: none;
    padding: 0.25rem 0.5rem;

    &:active {
      color: var(--blue);
      background: transparent;
      border-color: var(--blue);
    }
  }

  .light-square-button {
    color: darkslategray;
    background: var(--pale-green-gradient);
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: unset;
    font-weight: 500;
    user-select: none;
    padding: 0.25rem 0.5rem;
    &:hover {
      border-color: hsl(from currentColor h s l / 0.5);
    }
    &:active {
      color: var(--blue);
      background-color: transparent;
      border-color: var(--blue);
    }
  }

  .mini-card__content input[type=text],
  .mini-card__content input[type=number] {
    color: currentColor;
    background-color: transparent;
    display: block;
    height: stretch;
    width: stretch;
    min-width: 4ch;
    font-family: unset;
    font-size: larger;
    text-align: center;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0 calc(var(--radius) - 1px) calc(var(--radius) - 1px) 0;
  }
  .init-insanity::-webkit-outer-spin-button,
  .init-insanity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .square-baloon-tag {
    color: darkslategray;
    border: 1px solid hsl(from currentColor h s l / 0.5);
    user-select: none;
    text-align: center;
    position: relative;
    border-radius: 4px;
    padding: 4px 0.75rem;
    min-width: 12ch;
    
    &:has(:checked) {
      color: white;
      background: var(--blue-gradient);
      border-color: transparent;
      font-weight: 500;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
    &:has(:checked)::after {
      content: "";
      position: absolute;
      right: -0.75rem;
      background-color: #1089d3;
      align-self: center;
      height: 1rem;
      aspect-ratio: cos(30deg);
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }
}

