@layer component {
  .mini-card {
    --color: var(--accent);
    --radius: 5px;
    --line-width: 1px;
    --inner-radius: calc(var(--radius) - var(--line-width));
    
    border: var(--line-width) solid var(--color);
    border-radius: var(--radius);
    
    display: inline-flex;
    height: fit-content;
    min-width: fit-content;

    text-align: center;
    white-space: nowrap;
    overflow: clip;
  }
  
  .mini-card__head,
  .mini-card__body {
    padding: 0.25em 0.5em;
    align-content: center;
    flex: 1;
  }
  .mini-card__body {
    border-inline-start: var(--line-width) solid var(--color);
  }
  .mini-card__head.colored,
  .mini-card__body.colored {
    color: white;
    background-color: var(--color);
  }
}