<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SAN減少量計算</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300..700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200..400,0,0&icon_names=drag_indicator,edit" />

  <link rel="stylesheet" href="../__utility/style.css" />
  <link rel="stylesheet" href="style.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="root">
    <main>
      <aside class="side-menu">
        <div class="side-menu-content">
          <h1>SAN減少量<br>試算ツール</h1>
          <button class="round blue" command="show-modal" commandfor="save-json-dialog">セーブ</button>
          <button class="round blue" @click="clickNextInput">ロード</button>
          <input type="file" id="jsonInput" accept=".json" style="display: none;" @change="loadJson">
          <button class="round" @click="clear">クリア</button>
          <a href="https://github.com/seilor0/calc-expected-san-loss" target="_blank" rel="noopener noreferrer" style="margin-block-start: 2rem;">GitHub</a>
        </div>
      </aside>

      <div class="main-content">
        <div class="tab-ribbon">
          <label>
            <input type="radio" value="home" v-model="setting.process" />
            Home
          </label>
          <label>
            <input type="radio" value="get-sanc-list" v-model="setting.process" />
            SANcを抽出
          </label>
          <label>
            <input type="radio" value="calc-evalue" v-model="setting.process" />
            減少量を試算
          </label>
        </div>
  
        <div v-if="setting.process==='home'" style="display: flex;flex-direction: column;min-height: calc(100% - 3rem - 1px);">
          <div style="flex-grow: 1;padding: 2rem 3rem;">
            以下の2つのことが手軽にできるサイトです。<br>
            6版・7版両方で利用できます。
            <ul>
              <li style="margin-block: 0.5rem;">SANcのリストから、SAN値がどのくらい減るか期待値を試算する</li>
              <li style="margin-block: 0.5rem;">シナリオテキストからSANcのリストを抽出する</li>
            </ul>
          </div>
          <footer>
            <div class="footer-content">
              <div>
                <h2>CONTACT</h2>
                <span style="font-size: larger;">セイル</span><br>
                GitHub: @seilor0<br>
                X(旧Twitter): @seilor0
              </div>
              <div>
                <h2>CAUTION</h2>
                <ul>
                  <li>
                    作業環境：Windows11 / Google Chrome<br>
                    上記以外の環境はテストしていないため、不具合が出る可能性があります。
                  </li>
                  <li>
                    当サイトの利用によるいかなるトラブルも作者は責任を負いません。<br>
                    ご利用は自己責任にてお願いいたします。
                  </li>
                  <li>
                    何かあれば左の連絡先までご連絡ください。
                  </li>
                </ul>
              </div>
              <div>
                <h2>UPDATE</h2>
                <table>
                  <thead>
                    <tr>
                      <th>date</th>
                      <th>version</th>
                      <th>detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="logDic in changeLogArr">
                      <td>{{logDic.date}}</td>
                      <td>{{logDic.version}}</td>
                      <td>{{logDic.detail}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p style="text-align: center;margin-block-end: unset;white-space: pre-wrap;font-family: unset;">
              本作は、「株式会社アークライト」及び「株式会社KADOKAWA」が権利を有する『クトゥルフ神話TRPG』シリーズの二次創作物です。<br>
              <br>
              Call of Cthulhu is copyright ©1981, 2015, 2019 by Chaosium Inc. ;all rights reserved. Arranged by Arclight Inc.<br>
              Call of Cthulhu is a registered trademark of Chaosium Inc.<br>
              PUBLISHED BY KADOKAWA CORPORATION　「クトゥルフ神話TRPG」「新クトゥルフ神話TRPG」
            </p>
          </footer>
        </div>

        <div v-else-if="setting.process==='get-sanc-list'" class="inpage-process-content" style="padding: 2rem 3rem;display: flex;flex-direction: column;">
          <div style="display: flex;gap: 1rem;margin-block-end: 1rem;">
            <button class="light-square-button shadow" command="show-modal" commandfor="edit-sanc-reg-dialog">抽出設定</button>
            <button class="blue-square-button shadow" @click="importSancList">試算ページへコピー</button>
          </div>
          <div style="display: flex;gap: 1.5rem;flex: 1;overflow-y: auto;">
            <textarea v-model.lazy.trim="scenarioText" placeholder="シナリオテキストを貼り付け" style="width: 45%;min-height: 20rem;max-height: stretch;"></textarea>
            <div class="triangle"></div>
            <div style="max-height: stretch;overflow-y: auto;scrollbar-color: hsla(0, 0%, 85%) transparent;">
              <table class="skill-table">
                <tbody>
                  <tr v-for="(dic, index) in sancList.flat()" :class="{disabled: !dic.enable}">
                    <td>{{index+1}}</td>
                    <td style="max-width: 40ch;text-align: left;">{{dic.base}}</td>
                    <td>{{dic.sancText}}</td>
                    <td>
                      <button-tag 
                        :is-checked="dic.isPlus" 
                        @checked-toggle="val=>dic.isPlus=val" 
                        text-checked="回復" text-not-checked="減少"
                      ></button-tag>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div v-else-if="setting.process==='calc-evalue'" style="padding: 2rem 3rem;display: flex;gap: 4rem;">

          <div style="display: flex;flex-direction: column;gap: 1rem;">

            <div class="new-mofism">
              <p class="title">オプション</p>
              <div class="setting-wrapper">
                <span>自動成功</span>
                <toggle-button :is-checked="setting.options.autoSuccess" @checked-toggle="val=>setting.options.autoSuccess=val"></toggle-button>
                <span>○○成功でSANc</span>
                <toggle-button :is-checked="setting.options.preRoll" @checked-toggle="val=>setting.options.preRoll=val"></toggle-button>
                <span>SANc以外で判定</span>
                <toggle-button :is-checked="setting.options.altRoll" @checked-toggle="val=>setting.options.altRoll=val"></toggle-button>
                <span>実際の減少量を反映</span>
                <toggle-button :is-checked="setting.options.actLoss" @checked-toggle="val=>setting.options.actLoss=val"></toggle-button>
              </div>
            </div>

            <div class="new-mofism">
              <span style="font-size: 0.9em;display: flex;align-items: center;justify-content: space-between;">
                <p class="title">キャラクター</p>
                <button class="material-symbols-outlined edit-button" command="show-modal" commandfor="edit-unit-dialog" @click="startUnitEdit">edit</button>
              </span>
              <select v-model="setting.unit" style="width: stretch;height: 1.5em;font-size: 1em;">
                <option value=""></option>
                <option v-for="name in Object.keys(unitDic)" :value="name">{{name}}</option>
              </select>
              <table class="skill-table" style="font-size: 0.9em;">
                <tbody>
                  <tr v-show="typeof(unit.san)==='number'">
                    <td>SAN</td>
                    <td>{{unit.san ?? null}}</td>
                  </tr>
                  <tr v-for="[key, value] in Object.entries(unit.skill)">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div>
            <div style="display: flex;gap: 0.75rem;margin-block-end: 1rem;">
              <div class="mini-card shadow" style="width: 9rem;">
                <div>初期SAN値</div>
                <input type="number" class="init-insanity" v-model="initInsanity" placeholder="0" />
              </div>
              
              <div class="mini-card shadow" style="width: 9rem;">
                <div>総減少量</div>
                <div :class="{'red': initInsanity &lt; allSanLoss}" style="font-size: 1.2rem;">{{floatRound(allSanLoss, 1)}}</div>
              </div>

              <button class="icon-frame shadow" @click="addNewData">
                <div class="icon icon-plus"></div>
              </button>

              <button class="icon-frame shadow" @click="deleteLastData">
                <div class="icon icon-minus"></div>
              </button>
            </div>

            <table class="sanc-table">
              <thead>
                <tr>
                  <th rowspan="2"></th>
                  <th v-show="setting.options.autoSuccess" class="thin">
                    オプション1<br>
                    自動成功
                  </th>
                  <th v-show="setting.options.preRoll" colspan="2" class="thin">
                    オプション2<br>
                    判定に成功した場合のみSANc
                  </th>
                  <th v-show="setting.options.altRoll" colspan="2" class="thin">
                    オプション3<br>
                    SANc以外で判定
                  </th>
                  <th v-if="setting.options.actLoss" colspan="2" class="thin">
                    オプション4<br>
                    実際の値を反映
                  </th>
                  <th v-else rowspan="2">
                    期待値
                  </th>
                  <th rowspan="2">
                    残SAN
                  </th>
                </tr>
                <tr>
                  <th v-show="setting.options.autoSuccess"></th>
                  <th v-show="setting.options.preRoll">判定</th>
                  <th v-show="setting.options.preRoll">発生率</th>
                  <th v-show="setting.options.altRoll">判定</th>
                  <th v-show="setting.options.altRoll">判定値</th>
                  <th v-if="setting.options.actLoss">期待値</th>
                  <th v-show="setting.options.actLoss">実際</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(sancData,index) in sancDataArr"
                  :key="index" 
                  draggable="true"
                  :class="{dragging: index===dragIndex && dragTarget==='sancDataArr'}"
                  @dragstart="dragStart(index, 'sancDataArr')"
                  @dragenter="dragEnter(index)"
                  @dragover.prevent
                  @dragend="dragEnd"
                >
                  <td>
                    <span class="cell-wrap">
                      <div class="icon icon-close float" @click="sancDataArr.splice(index,1)"></div>
                      <span class="material-symbols-outlined">drag_indicator</span>
                      <input 
                        type="text" 
                        v-model="sancData.sancText" 
                        placeholder="1d10/1d100, 1d6" 
                        class="long-input" 
                        style="font-size: unset;" 
                      />
                      <button-tag 
                        :is-checked="sancData.isPlus" 
                        @checked-toggle="val=>sancData.isPlus=val" 
                        text-checked="回復" text-not-checked="減少"
                      ></button-tag>
                    </span>
                  </td>

                  <td v-show="setting.options.autoSuccess" class="pad-inline">
                    <select v-model="sancData.autoSuccess" :class="{disabled: sancData.sancExDic.single}">
                      <option value=""></option>
                      <option value="success">自動成功</option>
                      <option value="fail"   >自動失敗</option>
                    </select>
                  </td>

                  <td v-show="setting.options.preRoll">
                    <span class="cell-wrap">
                      <select class="long-input" v-model="sancData.preRoll.skill">
                        <option value=""></option>
                        <option value="else">（その他）</option>
                        <option v-for="key in Object.keys(unit.skill)" :value="key">{{key}}</option>
                      </select>
                      <input
                        type="text" 
                        v-model="sancData.preRoll.adjustment" 
                        placeholder="+0" 
                        class="short-input" 
                      />
                      <button-tag 
                        :is-checked="sancData.preRoll.isFail" 
                        @checked-toggle="val=>sancData.preRoll.isFail=val" 
                        text-checked="失敗" text-not-checked="成功"
                      ></button-tag>
                    </span>
                  </td>
                  <td v-show="setting.options.preRoll" class="center pad-inline">
                    {{calcedArr[index].preRoll===null ? null : floatRound(calcedArr[index].preRoll, 2)}}
                  </td>
                  
                  <td v-show="setting.options.altRoll">
                    <span class="cell-wrap" :class="{disabled: sancData.sancExDic.single}">
                      <select class="long-input" v-model="sancData.altRoll.skill">
                        <option value=""></option>
                        <option value="else">（その他）</option>
                        <option v-for="key in Object.keys(unit.skill)" :value="key">{{key}}</option>
                      </select>
                      <input 
                        type="text" 
                        v-model="sancData.altRoll.adjustment" 
                        placeholder="+0" 
                        class="short-input" />
                    </span>
                  </td>
                  <td v-show="setting.options.altRoll" class="center pad-inline">
                    {{calcedArr[index].altRoll===null ? null : floatRound(calcedArr[index].altRoll, 2)}}
                  </td>
                  
                  <td class="center pad-inline">
                    {{floatRound(calcedArr[index].lossEx, 2)}}
                  </td>
                  <td v-show="setting.options.actLoss">
                    <input 
                      type="number" 
                      v-model="sancData.actLoss" 
                      placeholder="0" 
                      class="short-input" 
                    />
                  </td>

                  <td class="center pad-inline">
                    {{floatRound(calcedArr[index].remainSan, 2)}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <dialog id="edit-sanc-reg-dialog" closedby="any" style="max-width: 70%;height: 80dvh;">
      <header>
        <h2>抽出設定</h2>
        <button-css-icon icon-name="icon-close" command="close" commandfor="edit-sanc-reg-dialog"></button-css-icon>
      </header>
      <section style="padding: 1.5rem 2.5rem;overflow: auto;">
        <div style="margin-block-end: 1rem;display: flex;gap: 0.75rem;align-items: center;padding-inline: 2px;">
          <div class="mini-card">
            <small style="text-align: right;">SANc ○○ 1/1d3：</small>
            <input type="text" v-model="sancBeforeChar" style="border-radius: 0 4px 4px 0;" />
          </div>
          <div class="mini-card">
            <small style="text-align: right;">SANc 1/1d3 ○○：</small>
            <input type="text" v-model="sancAfterChar" style="border-radius: 0 4px 4px 0;" />
          </div>
          <span style="flex-grow: 1;"></span>
          <button class="icon-frame shadow" @click="addNewRegData">
            <div class="icon icon-plus"></div>
          </button>
          <button class="icon-frame shadow" @click="deleteLastRegData">
            <div class="icon icon-minus"></div>
          </button>
        </div>

        <table class="sanc-table" style="width: stretch;">
          <thead>
            <tr>
              <th>表記例</th>
              <th colspan="3">正規表現</th>
              <th>タイプ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(sancRegData, index) in sancRegArr" 
              draggable="true"
              :class="{dragging: index===dragIndex && dragTarget==='sancRegArr'}"
              @dragstart="dragStart(index, 'sancRegArr')"
              @dragenter="dragEnter(index)"
              @dragover.prevent
              @dragend="dragEnd"
            >
              <th>
                <input type="text" v-model="sancRegData.sample" style="width: stretch;" />
              </th>
              <td>
                <input type="text" v-model="sancRegData.preText" />
              </td>
              <td class="pad-inline">
                <button-tag
                  :is-checked="sancRegData.single" 
                  @checked-toggle="val=>sancRegData.single=val"
                  text-checked="1d3" text-not-checked="1/1d3"
                  style="width: stretch;"
                ></button-tag>
              </td>
              <td>
                <input type="text" v-model="sancRegData.nextText" />
              </td>
              <td class="pad-inline">
                <button-tag
                  :is-checked="sancRegData.isPlus" 
                  @checked-toggle="val=>sancRegData.isPlus=val"
                  text-checked="回復" text-not-checked="減少"
                ></button-tag>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </dialog>

    <dialog id="edit-unit-dialog" closedby="any" @close="endUnitEdit">
      <header>
        <h2>キャラクターデータ編集</h2>
        <button-css-icon icon-name="icon-close" command="close" commandfor="edit-unit-dialog"></button-css-icon>
      </header>
      <section>
        <div style="display: flex;gap: 2rem;padding: 0.5rem 1rem;">
          <div style="display: flex;flex-direction: column;gap: 0.5rem;">
            <div style="display: flex;gap: 0.5rem;padding-block-end: 0.5rem;">
              <button class="light-square-button shadow" @click="addNewEditUnit">追加</button>  
              <button class="light-square-button shadow" @click="importCcfolia">ココフォリア駒から</button>
            </div>
            <label v-for="(data,index) in editUnitArr" class="square-baloon-tag"
              :class="{dragging: index===dragIndex && dragTarget==='editUnitArr'}"
              @dragstart="dragStart(index, 'editUnitArr')"
              @dragenter="dragEnter2NameLabel(index)"
              @dragover.prevent
              @dragend="dragEnd"
              draggable="true"
            >
              <input 
                type="radio" 
                name="edit-unit-data" 
                :value="index" 
                v-model="editUnitIndex" 
                style="display: none;" 
              />
              {{data.name || `(character ${data.id+1})`}}
              <div class="icon icon-close float" @click.prevent="deleteEditUnit(index)"></div>
            </label>
          </div>

          <div style="display: flex;flex-direction: column;font-size: calc(1em - 1px);">
            名前
            <input 
              type="text" 
              :placeholder="`(character ${editUnit.id+1 || '--'})`" 
              v-model="editUnit.name" 
              style="font-size: calc(1em + 1px);margin-block-end: 0.5rem;" 
            />
            SAN値
            <input 
              type="number" 
              placeholder="0" 
              v-model="editUnit.san" 
              style="font-size: calc(1em + 1px);margin-block-end: 0.5rem;" 
            />
            技能
            <textarea v-model="editUnit.skillText" placeholder="目星  50" style="width: 12rem;height: 12rem;font-size: calc(1em + 1px);resize: block;"></textarea>
          </div>
        </div>
      </section>
    </dialog>

    <dialog id="save-json-dialog" closedby="any">
      <header>
        <h2>保存データ</h2>
        <button-css-icon icon-name="icon-close" command="close" commandfor="save-json-dialog"></button-css-icon>
      </header>
      <section style="width: fit-content;">
        <div class="setting-wrapper">
          現在の設定
          <toggle-button :is-checked="setting.save.setting" @checked-toggle="val=>setting.save.setting=val"></toggle-button>
          SANcデータ
          <toggle-button :is-checked="setting.save.sancData" @checked-toggle="val=>setting.save.sancData=val"></toggle-button>
          キャラクターデータ
          <toggle-button :is-checked="setting.save.unit" @checked-toggle="val=>setting.save.unit=val"></toggle-button>
        </div>

        <div class="setting-wrapper" :class="{disabled: !setting.save.unit}" style="margin-inline-start: 3ch;margin-block-start: 0.5rem;justify-self: end;">
          <template v-for="[name,data] in Object.entries(unitDic)">
            {{name}}
            <toggle-button :is-checked="data.save" @checked-toggle="val=>data.save=val"></toggle-button>
          </template>
        </div>
      </section>
      <footer>
        <button class="blue-square-button" @click="saveJson">データを保存</button>
      </footer>
    </dialog>

  </div>
  <script type="module" src="./code-vue.js"></script>
</body>

</html>